.colorPanel {
    margin: 0px;
    padding: 5px;
    position: fixed;
    z-index: 100;
    min-width: 20px;
    border-radius: 0 3px 3px 0;
    background-color: #4b00a0;
    top: 35%;
    text-align: center
}

.colorPanel ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: none
}

.colorPanel ul li {
    display: block;
    margin-top: 10px;
}

.colorPanel ul a {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    border: #fff 1px solid;
}

.colorPanel a.cart,
.colorPanel a.home-solid {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 6px;
    padding-bottom: 8px;
    display: block;
}

.colorPanel a.home-solid i {
    display: block;
    margin: 12px auto 4px;
}

.colorPanel a.home-solid {
    color: #fff;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase
}

#cpToggle {
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 28px;
    line-height: 30px;
    background-size: cover;
}

.cp-custom {
    padding: 12px;
}

.cp-custom #cpToggle {
    background: none;
}

.cp-custom i {
    font-size: 15px;
    color: #fff;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #ddd;
}
h1.color-primary, h2.color-primary, h3.color-primary, h4.color-primary, h5.color-primary, h6.color-primary {
    color: #f82aa4;
}
.wrap-visa{
    margin-top:10px;
    background-color: #e8e8e8;
    padding:10px;
}