.feature .fbox-over {
	background-color:#231f20db;
}


.btn{
	background-color: #f82aa4;
    border: 2px solid #f82aa4;
}
.feature .fbox-over .btn{
	color: white;
}
.feature .fbox-over .btn:hover{
	color: #f82aa4;
	font-weight: 700; 
}
.header-s1.is-transparent.has-fixed .navbar-nav>li.active>a, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:hover, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:focus{
	color:black;
	font-weight: 700;
}
.header-s1.is-transparent .navbar-nav>a:not(.btn):after{
	    background-color: #f82aa4;
}

.header-s1.is-transparent.has-fixed .navbar-nav>li.active>a, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:hover, .header-s1.is-transparent.has-fixed .navbar-nav>li>a:focus{
	color:black;
	font-weight: 700;
}

.site-header .quote-btn .btn{
	background-color: #f82aa4;
    border: 2px solid #f82aa4;
}
.site-header .quote-btn .btn:hover{
	background-color: #231f20;
    border: 2px solid #231f20;
}
.heading-section{
	font-weight: 700;
}

.icon-box.style-s1, .icon-box.style-s2{
	background-color: #231f20;
	color: #f82aa4;
}
.call-action.has-bg.bg-primary .cta-block, .call-action.has-parallax.bg-primary .cta-block {
    background: rgba(0, 0, 0, 0.47);
}
.call-action.bg-primary .btn:not(.btn-light), .call-action:not([class*='bg-']) .btn:not(.btn-light){
	 background-color: #f82aa4;
    border-color: #f82aa4;
}
.call-action.bg-primary .btn:not(.btn-light):hover, .call-action.bg-primary .btn:not(.btn-light):focus, .call-action:not([class*='bg-']) .btn:not(.btn-light):hover, .call-action:not([class*='bg-']) .btn:not(.btn-light):focus{
	color: #f82aa4;
}
.heading-sm-lead, .heading-md-lead{
	color:#f82aa4;
}
.has-bg.bg-alternet:after{
	background-color: #231f20;
}
.icon-box.style-s4{
	border-color: #f82aa4;
    color: #f82aa4;
}
.boxed-w .heading-box span:before{
	background-color: #f82aa4;
}
.feature .fbox-over .title{
	color: #f82aa4;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.top-nav li{
	margin: 0px -7px;
}

.top-nav li a{
	text-decoration: none;
}
.top-nav li a:hover{
	color: #f82aa4;
}
.header-s1 .navbar-brand{
	margin-top: 8px;
	margin-bottom: 0px;
}
.sub-menu-right{
	padding-left:20px;
}
.main-menu-right > a{
	font-weight: 700;
}
.team-bottom{
	margin-bottom:100px;
}
.t-marker{
    text-align: center;
    border-radius: 50%;
    background: transparent;
    color: #f82aa4bd;
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
								
.t-markers{
	padding: 6px 0;
    color: #535457;
    background: #fff;
    font-size: 13px;
	line-height: 1;
	margin-left: 6px;
}
.contact-us{
	border-left: 5px solid #f82aa4;
    padding-left: 5px;
}
.section-mar{
	margin-bottom: 100px;	
}
.theme-background-color {
    background-color: #f82aa4;
}
.bodytext{
	color:#747d88;
	font-weight: 400;
	text-decoration: none;
	
}
.news-list-date{
	color:#000;
	margin:0px 0px 0px 0px;
}
.news .news-list-view p {
    margin: 0;
	padding: 0;
	
}
.news .news-list-view .job {
    border-top: 1px dotted #DBD9D9;
    padding-top: 10px;
}
.teaser-text{
	margin-top: 25px;
    margin-bottom: 20px;
}

.font-text{
    font-weight: 550;	
}
.news-top{
	margin-bottom: 20px;
}
.news .news-list-view .job .news-list-date {
    display: block;
    padding: 10px 20px 20px 0;
}
.point #main-content, .subpage #main-content {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    padding-left: 40px;
    width: 860px;
    padding-right: 40px;
}

.news-related-wrap {
	padding-top: 20px;
	display: none;
}

h3.job_header_form_submit {
	margin: 0px 0;
}
.header-text{
	padding-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #dbd9d9;
    font-weight: 500;
    margin-bottom: 10px;
}
.input-file{
	height:50px;
    box-shadow: none;  
    font-size: 14px;
    color: #626262;
	width: 100%;
	background: #fff;
	border: 2px solid #eceff8;
	margin-left: -24px;
}
.controls-submit{
	   
		padding-right: 140px;
		padding-bottom: 30px;
	
}
.texts{
    height:170px;
}
.job-header{
	font-weight: 550;	
	padding-top: 20px;
    color: #2b2728;
}
.interested{
	padding-bottom: 20px;
}
.submit-form{
	margin-bottom: 25px;
	margin-top: 10px;
}
.control-left{
	margin-left: 10px;
	border: 2px solid #fff;
}
.btn-file{
	background-color: #ffffff;
    border: 2px solid #e0dedf;
}
.form-quotes{
    border: 2px solid #e0dedf;
	padding: 20px;
	margin-bottom: 30px;
}

.pagintions{

	text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

